.titleMain {
    font-family: "Abril Fatface", serif;
    font-size: 90px;
    color: #fefefe;
  }
  .solanaTitle {
    font-family: "Abril Fatface", serif;
    /* font-size: 90px; */
    color: #fefefe;
  }
  @media screen and (max-width: 768px) {
    .titleMain {
      font-size: 70px;
    }
  }
  @media screen and (max-width: 640px) {
    .titleMain {
      font-size: 35px;
    }
  }
  
  .noiseCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    opacity: 0.06;
  }
